body{
    font-size: large;
}

.first, .second, .third{
    width: 720px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.table{
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
}

.table-content-list{
    list-style: disc;
}

.table-link{
    margin-left: 40px;
}

.last-image{
    width: 257px;
    height: 257px;
    float: left;
}



